<!-- We don't need full layout here, because this page will be parsed with Ajax-->
<!-- Top Navbar-->
<div class="navbar">
	<div class="navbar-inner">
		<div class="left"><a href="#" class="back link"> <i class="icon icon-back"></i><span></span></a></div>
		<div class="center sliding">#if($!{type} == 'U')我的咨询#elseif($!{type} == 'E')咨询我的#else专家咨询#end</div>
		<div class="right">
			<!-- Right link contains only icon - additional "icon-only" class-->
			<a href="javascript:issue_list_refresh();" class="link icon-only"> <i class="iconfont icon-refresh color-gray"></i></a>
		</div>
	</div>
</div>
<div class="pages">
	<!-- Page, data-page contains page name-->
	<div data-page="issue.list" class="page no-tabbar">
		<!-- Search bar -->
		<form data-search-list=".list-block-search" data-search-in=".item-subtitle" class="searchbar searchbar-init">
			<div class="searchbar-input">
				<input type="search" placeholder="搜索" /><a href="#" class="searchbar-clear"></a>
			</div><a href="#" class="searchbar-cancel">取消</a>
		</form>
		
		<!-- Search bar overlay -->
		<div class="searchbar-overlay"></div>
			
		<!-- Scrollable page content-->
		<div class="page-content pull-to-refresh-content infinite-scroll">
			<div class="pull-to-refresh-layer">
				<div class="preloader"></div>
				<div class="pull-to-refresh-arrow"></div>
			</div>
			
			<div class="more"></div>
			
			<div class="list-block cards-list list-block-search searchbar-found">
				#foreach($issue in $!{issueList})
				<ul>
					<li class="card" style="border-radius: 5px; margin: 10px 5px;">
						<div class="card-header" style="font-size: 14px;">
							<div class="left">$!{issue.userName} -> 咨询 -> $!{issue.expertName}</div>
							<div>$!{dateUtil.datetime($!{dateUtil.datetime($!{issue.createDate})}, 'MM-dd HH:mm')}</div>
                            <div class="right">
								#if($!{issue.type} == 'revoke') 已撤销 #else 已提交 #end
							</div>
						</div>
						<div class="card-content">
							<div class="list-block">
								<ul style="padding-left: 0;">
									#if($!{op} == 'select')
									<a href="javascript:issue_list_back('$!{issue.issueId}', '$!{issueId}');">
									#end
    									<li class="item-content">
    										<div class="item-inner">
                								<div class="item-title">联系方式：$!{issue.tel}</div>
                							</div>
                                        </li>
            							<li class="item-content">
                							<div class="item-inner">
            									<div class="content-block" style="padding: 0;">$!{esc.htmlText($!{issue.content})}</div>
                                            </div>
                                        </li>
									#if($!{op} == 'select')
                                    </a>
									#end
                                </ul>
                            </div>
						</div>
						#if($!{op} != 'select')
    						#if($!{user.userId} == $!{issue.userId})
    						<div class="card-footer">
                                <div class="left"></div>
    							<div class="right">
    								#if($!{issue.type} == 'submit' or $!{issue.type} == 'ignore')
    								<a href="javascript:issue_list_revoke('$!{issue.issueId}');" class="button">撤销</a>
    								#elseif($!{issue.type} == 'revoke')
    								<a href="javascript:issue_list_delete('$!{issue.issueId}');" class="button color-red">删除</a>
    								#end
                                </div>
    						</div>
    						#else
    						<div class="card-footer">
                                <div class="left"></div>
    							<div class="right">
    								<a href="javascript:issue_list_ignore('$!{issue.issueId}');" class="button color-red">忽略</a>
                                </div>
    						</div>
    						#end
						#end
					</li>
				</ul>
				#end
            </div>
			
			<form id="issue/list/revoke" action="$!{env.appUrl}/issue/revoke.htm" method="POST" class="ajax-submit issue-list-revoke">
				<input type="hidden" name="issueId" id="issue_list_revoke_issueId"/>
            </form>
			<form id="issue/list/delete" action="$!{env.appUrl}/issue/delete.htm" method="POST" class="ajax-submit issue-list-delete">
				<input type="hidden" name="issueId" id="issue_list_delete_issueId"/>
            </form>
			<form id="issue/list/ignore" action="$!{env.appUrl}/issue/ignore.htm" method="POST" class="ajax-submit issue-list-ignore">
				<input type="hidden" name="issueId" id="issue_list_ignore_issueId"/>
            </form>
        </div>
    </div>
</div>