<!-- We don't need full layout here, because this page will be parsed with Ajax-->
<!-- Top Navbar-->
<div class="navbar">
	<div class="navbar-inner">
		<div class="left"><a href="#" class="back link"> <i class="icon icon-back"></i><span></span></a></div>
		<div class="center sliding">$!{resume.name}</div>
		<div class="right">
			<!-- Right link contains only icon - additional "icon-only" class-->
		</div>
	</div>
</div>
<div class="pages">
	<!-- Page, data-page contains page name-->
	<div data-page="job.resume.detail" class="page no-tabbar">
		<!-- Scrollable page content-->
		<div class="page-content" style="padding-bottom: 44px;">
			<div class="card" style="border-radius: 5px; margin: 10px 5px;">
				<div class="card-header" style="font-size: 14px;">
					<div class="left"><i class="iconfont icon-profile" style="font-size: 16px;"></i> $!{resume.name}</div>
					<div class="right"><i class="iconfont icon-phone" style="font-size: 14px;"></i> $!{resume.tel}</div>
				</div>
				<div class="card-content">
					<div class="list-block media-list">
						<ul>
    						<li class="item-content">
    							<div class="item-inner">
    								#parse("/jobs/resume/content.vm")
                                </div>
                            </li>
                        </ul>
					</div>
				</div>
				<div class="card-footer" style="min-height: 0; padding: 5px 15px;">
                     <span style="font-size: 12px;">
						<i class="iconfont icon-notification" style="font-size: 12px;"></i> $!{resume.remark}
					</span>
				</div>
			</div>
			<div class="card" style="border-radius: 5px; margin: 10px 5px;">
    			<div class="card-content">
					<div class="list-block media-list">
						<ul>
        					#foreach($detail in $!{resume.userJobDetailList})
        					<li class="item-content">
								<div class="item-inner">
                                    #parse("/jobs/resume/content.detail.vm")
                                </div>
                            </li>
							#end
                        </ul>
                    </div>
                </div>
    		</div>
			
			<form id="job/resume/detail/ignore" action="$!{env.appUrl}/job/resume/ignore.htm" method="POST" class="ajax-submit job-resume-detail-form">
            	<input type="hidden" name="jobId" value="$!{resume.jobId}"/>
				<input type="hidden" name="userJobId" value="$!{resume.userJobId}"/>
            </form>
        </div>
		
		<div class="toolbar">
			<div class="toolbar-inner" style="padding: 0;">
				<div class="row no-gutter" style="width: 100%;">
					<div class="col-33">
						<a href="tel:$!{resume.tel}" class="button button-big color-gray external" style="background: #fff; border-radius: 0; border: 0; border-right: 1px solid #d9d9d9;">
                            <i class="iconfont icon-service"></i><span style="margin-left: 3px;">电话</span>
                        </a>
					</div>
					<div class="col-66">
						<a href="javascript:job_resume_detail_ignore();" class="button button-big color-red" style="background: #fff; border: 0;">忽略</a>
					</div>
				</div>   
			</div>
		</div>
    </div>
</div>