<!-- We don't need full layout here, because this page will be parsed with Ajax-->
<!-- Top Navbar-->
<div class="navbar">
	<div class="navbar-inner">
		<div class="left"><a href="#" class="back link"> <i class="icon icon-back"></i><span></span></a></div>
		<div class="center sliding">消息中心</div>
		<div class="right">
			<!-- Right link contains only icon - additional "icon-only" class-->
			<a href="javascript:notify_list_refresh();" class="link icon-only"> <i class="iconfont icon-refresh color-gray"></i></a>
		</div>
	</div>
</div>
<div class="pages">
	<!-- Page, data-page contains page name-->
	<div data-page="notify.list" class="page no-tabbar">
		<!-- Search bar -->
		<form data-search-list=".list-block-search" data-search-in=".content-block" class="searchbar searchbar-init">
			<div class="searchbar-input">
				<input type="search" placeholder="搜索" /><a href="#" class="searchbar-clear"></a>
			</div><a href="#" class="searchbar-cancel">取消</a>
		</form>
		
		<!-- Search bar overlay -->
		<div class="searchbar-overlay"></div>
			
		<!-- Scrollable page content-->
		<div class="page-content pull-to-refresh-content infinite-scroll">
			<div class="pull-to-refresh-layer">
				<div class="preloader"></div>
				<div class="pull-to-refresh-arrow"></div>
			</div>
			
			<div class="more"></div>
			
			<div class="list-block cards-list list-block-search searchbar-found">
				#foreach($notify in $!{notifyList})
				<ul>
					<li class="card">
						<div class="card-header">
							<div class="left"><i class="iconfont icon-notification" style="font-size: 14px;"></i> $!{notify.notifyCName}</div>
							<div></div>
							<div class="right">$!{dateUtil.datetime($!{dateUtil.datetime($!{notify.createDate})}, 'MM-dd HH:mm')}</div>
						</div>
						<div class="card-content">
							<div class="item-content">
    							<div class="item-inner">
									<div class="content-block" style="padding: 0;">$!{notify.content}</div>
                                </div>
                            </div>
						</div>
					</li>
				</ul>
				#end
            </div>
        </div>
    </div>
</div>