<!-- We don't need full layout here, because this page will be parsed with Ajax-->
<!-- Top Navbar-->
<div class="navbar">
	<div class="navbar-inner">
		<div class="left"><a href="#" class="back link"> <i class="icon icon-back"></i><span></span></a></div>
		<div class="center sliding">我的应聘</div>
		<div class="right">
			<!-- Right link contains only icon - additional "icon-only" class-->
		</div>
	</div>
</div>
<div class="pages">
	<!-- Page, data-page contains page name-->
	<div data-page="user.job.list" class="page no-tabbar">
		<!-- Search bar -->
		<form data-search-list=".list-block-search" data-search-in=".item-title" class="searchbar searchbar-init item-list-searchbar">
			<div class="searchbar-input">
				<input type="search" placeholder="搜索" /><a href="#" class="searchbar-clear"></a>
			</div><a href="#" class="searchbar-cancel">取消</a>
		</form>
		
		<!-- Search bar overlay -->
		<div class="searchbar-overlay"></div>
			
		<!-- Scrollable page content-->
		<div class="page-content pull-to-refresh-content infinite-scroll">
			<div class="pull-to-refresh-layer">
				<div class="preloader"></div>
				<div class="pull-to-refresh-arrow"></div>
			</div>
			
			<div class="more"></div>
			
			<div class="list-block cards-list media-list list-block-search searchbar-found">
				#foreach($job in $!{jobList})
				<ul>
					<li class="card" style="border-radius: 5px; margin: 10px 5px;">
						<div class="card-header" style="font-size: 14px;">
							<div class="left"><i class="iconfont icon-countdown" style="font-size: 16px;"></i> $!{job.createDate}</div>
							<div class="right">
								#if($!{job.type} == 'revoke') 已撤销 #else 已投递 #end
							</div>
						</div>
						<div class="card-content">
							<div class="item-content">
    							<a class="item-inner" href="$!{env.appUrl}/job/detail.htm?jobId=$!{job.jobId}" data-ignore-cache="true">
    								<div class="item-title-row">
                                        <div class="item-title">$!{job.title}</div>
    								</div>
    								#parse("/jobs/job/content.vm")
                                </a>
								<div class="item-after">
									<a href="$!{env.appUrl}/job/detail.htm?jobId=$!{job.jobId}" data-ignore-cache="true">
										<i class="iconfont icon-edit color-base"></i>
									</a>
								</div>
                            </div>
						</div>
						<div class="card-footer">
                            <div class="left"></div>
							<div class="right">
								#if($!{job.type} == 'deliver' or $!{job.type} == 'ignore')
								<a href="javascript:user_job_list_revoke('$!{job.jobId}');" class="button color-red">撤销</a>
								#end
                            </div>
						</div>
					</li>
				</ul>
				#end
            </div>
			
			<form id="user/job/list/revoke" action="$!{env.appUrl}/user/job/revoke.htm" method="POST" class="ajax-submit user-job-list-form">
            	<input type="hidden" name="jobId" id="user_job_list_jobId"/>
            </form>
        </div>
    </div>
</div>