<!-- We don't need full layout here, because this page will be parsed with Ajax-->
<!-- Top Navbar-->
<div class="navbar">
	<div class="navbar-inner">
		<div class="left"><a href="#" class="back link"> <i class="icon icon-back color-gray"></i><span></span></a></div>
		<div class="center sliding">收货地址</div>
	</div>
</div>
<div class="pages">
	<!-- Page, data-page contains page name-->
	<div data-page="user.address" class="page">
		<!-- Scrollable page content-->
		<div class="page-content">
			<form id="user/address/create" action="$!{env.appUrl}/address/create.htm" method="POST" class="ajax-submit user-address-form">
				<input type="hidden" name="tradeNo" value="$!{tradeNo}" />
				<div class="list-block">
    				<ul>
    					<li>
    						<div class="item-content">
    							<div class="item-inner">
    								<div class="item-title label">收货人</div>
    								<div class="item-input">
    									<input type="text" style="font-size: 15px;" name="userAddress.contactName" value="$!{userAddress.contactName}" placeholder="名字" />
    								</div>
    							</div>
    						</div>
    					</li>
    					<li>
    						<div class="item-content">
    							<div class="item-inner">
    								<div class="item-title label">联系电话</div>
    								<div class="item-input">
    									<input type="text" style="font-size: 15px;" name="userAddress.tel" value="$!{userAddress.tel}" placeholder="手机或固话" />
    								</div>
    							</div>
    						</div>
    					</li>
    					<li>
    						<div class="item-content">
    							<div class="item-inner">
    								<div class="item-title label">选择地区</div>
    								<div class="item-input">
    									<div class="row no-gutter">
        									<div class="col-33"><select style="font-size: 15px;" id="user_address_province" name="userAddress.province" ></select></div>
                        					<div class="col-33"><select style="font-size: 15px;" id="user_address_city" name="userAddress.city" ></select></div>
                        					<div class="col-33"><select style="font-size: 15px;" id="user_address_area" name="userAddress.area" ></select></div>
											<input type="hidden" id="user_address_backCode" name="userAddress.backCode" value="$!{userAddress.backCode}" />
                                        </div>
    								</div>
    							</div>
    						</div>
    					</li>
    					<li>
    						<div class="item-content">
    							<div class="item-inner">
    								<div class="item-title label">详细地址</div>
    								<div class="item-input">
    									<input type="text" style="font-size: 15px;" name="userAddress.address" value="$!{userAddress.address}" placeholder="街道门牌信息" />
    								</div>
    							</div>
    						</div>
    					</li>
    					<li>
    						<div class="item-content">
    							<div class="item-inner">
    								<div class="item-title label">邮政编码</div>
    								<div class="item-input">
    									<input type="text" style="font-size: 15px;" name="userAddress.postalCode" value="$!{userAddress.postalCode}" placeholder="邮政编码(选填)" />
    								</div>
    							</div>
    						</div>
    					</li>
    				</ul>
                </div>
				<div class="content-block">
    				<a href="javascript:user_address_create();" class="button button-big button-fill weui_btn_primary">保存</a>
    			</div>
			</form>
        </div>
    </div>
</div>