<!-- We don't need full layout here, because this page will be parsed with Ajax-->
<!-- Top Navbar-->
<div class="navbar">
	<div class="navbar-inner">
		<div class="left"><a href="#" class="back link"> <i class="icon icon-back"></i><span></span></a></div>
		<div class="center sliding">我的项目</div>
		<div class="right">
			<!-- Right link contains only icon - additional "icon-only" class-->
			<a href="$!{env.appUrl}/job/template.htm" class="link icon-only" data-ignore-cache="true"> <i class="iconfont icon-more color-gray"></i><span></span></a>
		</div>
	</div>
</div>
<div class="pages">
	<!-- Page, data-page contains page name-->
	<div data-page="job.my" class="page no-tabbar">
		<!-- Search bar -->
		<form data-search-list=".list-block-search" data-search-in=".item-subtitle" class="searchbar searchbar-init item-list-searchbar">
			<div class="searchbar-input">
				<input type="search" placeholder="搜索" /><a href="#" class="searchbar-clear"></a>
			</div><a href="#" class="searchbar-cancel">取消</a>
		</form>
		
		<!-- Search bar overlay -->
		<div class="searchbar-overlay"></div>
			
		<!-- Scrollable page content-->
		<div class="page-content pull-to-refresh-content infinite-scroll">
			<div class="pull-to-refresh-layer">
				<div class="preloader"></div>
				<div class="pull-to-refresh-arrow"></div>
			</div>
			
			<div class="more"></div>
			
			<div class="list-block cards-list media-list list-block-search searchbar-found">
				#foreach($job in $!{jobList})
				<ul>
					<li class="card" style="border-radius: 5px; margin: 10px 5px;">
						<div class="card-header" style="font-size: 14px;">
							<div class="left"><i class="iconfont icon-time" style="font-size: 14px;"></i> $!{job.createDate}</div>
							<div>$!{job.star} <i class="iconfont icon-favorfill" style="font-size: 14px;"></i></div>
							<div class="right">
								#if($!{job.type} == 'publish') 已发布
								#elseif($!{job.type} == 'finish') 已结束
								#elseif($!{job.type} == 'revoke') 已撤销
								#end
							</div>
						</div>
						<div class="card-content">
							<a class="item-content" href="$!{env.appUrl}/job/detail.htm?jobId=$!{job.jobId}" data-ignore-cache="true">
    							<div class="item-inner">
    								<div class="item-title-row">
                                        <div class="item-subtitle">项目：$!{job.title}</div>
    								</div>
    								#parse("/jobs/job/content.vm")
                                </div>
								<div class="item-after">
									<i class="iconfont icon-form color-base"></i>
								</div>
                            </a>
						</div>
						<div class="card-footer">
                            <div class="left">
								<a href="$!{env.appUrl}/job/resume.htm?jobId=$!{job.jobId}" class="button color-gray" data-ignore-cache="true">
									#if($!{job.count} > 0)简历($!{job.count})#else简历#end
								</a>
							</div>
							<div class="right">
								<a href="javascript:job_my_op('$!{job.jobId}');" class="button">操作</a>
                            </div>
						</div>
					</li>
				</ul>
				#end
            </div>
			
			<form id="job/my/finish" action="$!{env.appUrl}/job/finish.htm" method="POST" class="ajax-submit job-my-finish">
            	<input type="hidden" name="jobId" id="job_my_finish_jobId"/>
            </form>
			<form id="job/my/revoke" action="$!{env.appUrl}/job/revoke.htm" method="POST" class="ajax-submit job-my-revoke">
            	<input type="hidden" name="jobId" id="job_my_revoke_jobId"/>
            </form>
        </div>
    </div>
</div>