<!-- We don't need full layout here, because this page will be parsed with Ajax-->
<!-- Top Navbar-->
<div class="navbar">
	<div class="navbar-inner">
		<div class="left"><a href="#" class="back link"> <i class="icon icon-back"></i><span></span></a></div>
		<div class="center sliding">项目模版</div>
		<div class="right">
			<!-- Right link contains only icon - additional "icon-only" class-->
			<a href="$!{env.appUrl}/help/job.htm" class="link icon-only"> <i class="iconfont icon-question color-gray"></i></a>
		</div>
	</div>
</div>
<div class="pages">
	<!-- Page, data-page contains page name-->
	<div data-page="job.template" class="page no-tabbar">
		<!-- Scrollable page content-->
		<div class="page-content" style="padding-bottom: 44px;">
			<form id="job/template/publish" action="$!{env.appUrl}/job/publish.htm" method="POST" class="ajax-submit job-template-form">
				<div class="list-block">
    				<ul>
    					<li>
    						<div class="item-content">
    							<div class="item-inner">
    								<div class="item-title label">项目标题</div>
    								<div class="item-input">
    									<input type="text" name="job.title" placeholder="标题" />
    								</div>
    							</div>
    						</div>
    					</li>
						<li>
    						<div class="item-content">
    							<div class="item-inner">
    								<div class="item-title label">项目分类</div>
    								<div class="item-input">
    									<select name="job.jobCId">
    										#foreach($jobCat in $!{jobCatList})
    										<option value="$!{jobCat.jobCId}">$!{jobCat.jobCName}</option>
    										#end
    									</select>
    								</div>
    							</div>
    						</div>
    					</li>
						<li>
    						<div class="item-content">
    							<div class="item-inner">
    								<div class="item-title label">项目周期</div>
    								<div class="item-input">
    									<select name="job.cycle">
    										<option value="1">一个月</option>
											<option value="3">三个月</option>
											<option value="6">六个月</option>
											<option value="12">一年</option>
    									</select>
    								</div>
    							</div>
    						</div>
    					</li>
						<li>
    						<div class="item-content">
    							<div class="item-inner">
    								<div class="item-title label">项目薪水</div>
    								<div class="item-input">
    									<input type="text" name="job.salary" placeholder="" />
    								</div>
    							</div>
    						</div>
    					</li>
						<li>
    						<div class="item-content">
    							<div class="item-inner">
    								<div class="item-title label">项目地点</div>
    								<div class="item-input">
    									<input type="text" name="job.workAddress" placeholder="" />
    								</div>
    							</div>
    						</div>
    					</li>
						<li>
    						<div class="item-content">
    							<div class="item-inner">
    								<div class="item-title label">工作性质</div>
    								<div class="item-input">
										<select name="job.jobNature">
    										<option>全职</option>
											<option>兼职</option>
											<option>实习</option>
    									</select>
    								</div>
    							</div>
    						</div>
    					</li>
						<li>
    						<div class="item-content">
    							<div class="item-inner">
    								<div class="item-title label">工作经验</div>
    								<div class="item-input">
										<select name="job.workYear">
    										<option>一年</option>
											<option>三年</option>
											<option>五年</option>
											<option>五年以上</option>
    									</select>
    								</div>
    							</div>
    						</div>
    					</li>
						<li>
    						<div class="item-content">
    							<div class="item-inner">
    								<div class="item-title label">最高学历</div>
    								<div class="item-input">
										<select name="job.education">
    										<option>本科</option>
											<option>硕士</option>
											<option>博士</option>
    									</select>
    								</div>
    							</div>
    						</div>
    					</li>
						 <li class="align-top">
							<div class="item-content">
								<div class="item-inner">
									<div class="item-title label">项目介绍</div>
									<div class="item-input">
										<textarea name="jobDetail.content"></textarea>
									</div>
								</div>
							</div>
						 </li>
						 <li>
    						<div class="item-content">
    							<div class="item-inner">
    								<div class="item-title label">备注</div>
    								<div class="item-input">
    									<input type="text" name="job.remark" placeholder="" />
    								</div>
    							</div>
    						</div>
    					</li>
    				</ul>
                </div>
			</form>
        </div>
		
		<div class="toolbar">
			<div class="toolbar-inner" style="padding: 0;">
				<div class="row no-gutter" style="width: 100%;">
					<div class="col-33">
						<a href="＃" class="back button button-big button-fill color-white">取消</a>
					</div>
					<div class="col-66">
						<a href="javascript:job_template_publish();" class="button button-big button-fill" style="border-radius: 0;">发布</a>
					</div>
				</div>
			</div>
		</div>
    </div>
</div>