<div class="item-title-row">
	<div class="row no-gutter">
		<div class="col-50">
			<div class="item-subtitle">模块：$!{resumeDetail.jobCName}</div>
        </div>
		<div class="col-50">
			<div class="item-subtitle">周期：$!{resumeDetail.cycle} 个月</div>
        </div>
    </div>
</div>
<div class="item-title-row">
    <div class="content-block" style="font-size: 13px; padding: 0;">$!{resumeDetail.content}</div>
</div>