<!-- We don't need full layout here, because this page will be parsed with Ajax-->
<!-- Top Navbar-->
<div class="navbar">
	<div class="navbar-inner">
		<div class="left"><a href="#" class="back link"> <i class="icon icon-back"></i><span></span></a></div>
		<div class="center sliding">我的简历</div>
		<div class="right">
			<!-- Right link contains only icon - additional "icon-only" class-->
		</div>
	</div>
</div>
<div class="pages">
	<!-- Page, data-page contains page name-->
	<div data-page="resume.edit" class="page no-tabbar">
		<!-- Scrollable page content-->
		<div class="page-content" style="padding-bottom: 44px;">
			<form id="resume/edit/saveOrUpdate" action="$!{env.appUrl}/resume/saveOrUpdate.htm" method="POST" class="ajax-submit resume-edit-form">
				<input type="hidden" name="resume.resumeId" value="$!{resume.resumeId}" />
				<div class="list-block">
    				<ul>
    					<li>
    						<div class="item-content">
    							<div class="item-inner">
    								<div class="item-title label">姓名</div>
    								<div class="item-input">
    									<input type="text" name="resume.name" value="$!{resume.name}" placeholder="" />
    								</div>
    							</div>
    						</div>
    					</li>
						<li>
    						<div class="item-content">
    							<div class="item-inner">
    								<div class="item-title label">联系方式</div>
    								<div class="item-input">
    									<input type="text" name="resume.tel" value="$!{resume.tel}" placeholder="" />
    								</div>
    							</div>
    						</div>
    					</li>
						<li>
    						<div class="item-content">
    							<div class="item-inner">
    								<div class="item-title label">性别</div>
    								<div class="item-input">
										<select name="resume.sex">
    										<option value="M" #if($!{resume.sex} == 'M') selected #end>男</option>
											<option value="F" #if($!{resume.sex} == 'F') selected #end>女</option>
    									</select>
    								</div>
    							</div>
    						</div>
    					</li>
						<li>
    						<div class="item-content">
    							<div class="item-inner">
    								<div class="item-title label">出生年月</div>
    								<div class="item-input">
    									<input type="text" id="resume_edit_birthday" name="resume.birthday" value="$!{resume.birthday}" placeholder="" />
    								</div>
    							</div>
    						</div>
    					</li>
						<li>
    						<div class="item-content">
    							<div class="item-inner">
    								<div class="item-title label">最高学历</div>
    								<div class="item-input">
										<select name="resume.education">
    										<option #if($!{resume.education} == '本科') selected #end>本科</option>
											<option #if($!{resume.education} == '硕士') selected #end>硕士</option>
											<option #if($!{resume.education} == '博士') selected #end>博士</option>
    									</select>
    								</div>
    							</div>
    						</div>
    					</li>
						<li>
							<div class="item-content">
    							<div class="item-inner">
    								<div class="item-title label">工作经验</div>
    								<div class="item-input">
										<select name="resume.workYear">
    										<option #if($!{resume.workYear} == '一年') selected #end>一年</option>
											<option #if($!{resume.workYear} == '三年') selected #end>三年</option>
											<option #if($!{resume.workYear} == '五年') selected #end>五年</option>
											<option #if($!{resume.workYear} == '五年以上') selected #end>五年以上</option>
    									</select>
    								</div>
    							</div>
    						</div>
    					</li>
						<li>
							<a href="#" class="item-link smart-select" data-page-title="模块" data-back-text=" ">
								<select name="jobCId0" multiple>
									#foreach($jobCat in $!{jobCatList})
										#set($flag = true)
										#foreach($resumeJobCat in $!{resume.resumeJobCatList})
											#if($!{jobCat.jobCId} == $!{resumeJobCat.jobCId}) #set($flag = false)
											<option value="$!{jobCat.jobCId}" selected >$!{jobCat.jobCName}</option>
											#end
										#end
										
										#if($flag)
										<option value="$!{jobCat.jobCId}">$!{jobCat.jobCName}</option>
										#end
    								#end
								</select>
								<div class="item-content">
									<div class="item-inner">
										<div class="item-title label">擅长模块</div>
									</div>
								</div>
							</a>
    					</li>
						<li>
    						<div class="item-content">
    							<div class="item-inner">
    								<div class="item-title label">备注</div>
    								<div class="item-input">
    									<input type="text" name="resume.remark" value="$!{resume.remark}" placeholder="" />
    								</div>
    							</div>
    						</div>
    					</li>
    				</ul>
                </div>
				<div class="content-block-title">项目经验</div>
				#foreach($resumeDetail in $!{resume.resumeDetailList})
				<div class="list-block resume-edit-resumeDetail-$!{resumeDetail.detailId}">
					<input type="hidden" name="detailId" value="$!{resumeDetail.detailId}" />
					<ul>
    					<li>
    						<div class="item-content">
    							<div class="item-inner">
    								<div class="item-title label">项目分类</div>
    								<div class="item-input">
    									<select name="jobCId">
    										#foreach($jobCat in $!{jobCatList})
    										<option value="$!{jobCat.jobCId}" #if($!{jobCat.jobCId} == $!{resumeDetail.jobCId}) selected #end>$!{jobCat.jobCName}</option>
    										#end
    									</select>
    								</div>
    							</div>
    						</div>
    					</li>
    					<li>
    						<div class="item-content">
    							<div class="item-inner">
    								<div class="item-title label">项目周期</div>
    								<div class="item-input">
    									<select name="cycle">
    										<option value="1" #if($!{resumeDetail.cycle} == '1') selected #end>一个月</option>
    										<option value="3" #if($!{resumeDetail.cycle} == '3') selected #end>三个月</option>
    										<option value="6" #if($!{resumeDetail.cycle} == '6') selected #end>六个月</option>
    										<option value="12" #if($!{resumeDetail.cycle} == '12') selected #end>一年</option>
    									</select>
    								</div>
    							</div>
    						</div>
    					</li>
    					<li class="align-top">
    						<div class="item-content">
    							<div class="item-inner">
    								<div class="item-title label">项目介绍</div>
    								<div class="item-input">
    									<textarea name="content">$!{resumeDetail.content}</textarea>
    								</div>
    							</div>
    						</div>
    					</li>
						<li>
							<a href="javascript:resume_edit_delete('Y', '$!{resumeDetail.detailId}');" class="item-link list-button color-red">删除</a>
                        </li>
                    </ul>
                </div>
				#end
				
				#set($size = 2 - $!{resume.resumeDetailList.size()})
				#if($size >= 0)
    				#set($count = [0 .. $size])
    				#foreach($i in $count)
    				<div class="list-block resume-edit-0-$i">
						<input type="hidden" name="detailId" />
    					<ul>
        					<li>
        						<div class="item-content">
        							<div class="item-inner">
        								<div class="item-title label">项目分类</div>
        								<div class="item-input">
        									<select name="jobCId">
        										#foreach($jobCat in $!{jobCatList})
        										<option value="$!{jobCat.jobCId}">$!{jobCat.jobCName}</option>
        										#end
        									</select>
        								</div>
        							</div>
        						</div>
        					</li>
        					<li>
        						<div class="item-content">
        							<div class="item-inner">
        								<div class="item-title label">项目周期</div>
        								<div class="item-input">
        									<select name="cycle">
        										<option value="1">一个月</option>
        										<option value="3">三个月</option>
        										<option value="6">六个月</option>
        										<option value="12">一年</option>
        									</select>
        								</div>
        							</div>
        						</div>
        					</li>
        					<li class="align-top">
        						<div class="item-content">
        							<div class="item-inner">
        								<div class="item-title label">项目介绍</div>
        								<div class="item-input">
        									<textarea name="content"></textarea>
        								</div>
        							</div>
        						</div>
        					</li>
							<li>
    							<a href="javascript:resume_edit_delete('N', '$i');" class="item-link list-button color-red">删除</a>
                            </li>
                        </ul>
                    </div>
    				#end
				#end
			</form>
			
			<form id="resume/edit/delete" action="$!{env.appUrl}/resume/delete.htm" method="POST" class="ajax-submit resume-edit-delete">
            	<input type="hidden" name="detailId" id="resume_edit_delete_detailId"/>
            </form>
        </div>
		
		<div class="toolbar">
			<div class="toolbar-inner" style="padding: 0;">
				<div class="row no-gutter" style="width: 100%;">
					<div class="col-33">
						<a href="＃" class="back button button-big button-fill color-white">取消</a>
					</div>
					<div class="col-66">
						<a href="javascript:resume_edit_saveOrUpdate();" class="button button-big button-fill" style="border-radius: 0;">保存</a>
					</div>
				</div>
			</div>
		</div>
    </div>
</div>