<!-- We don't need full layout here, because this page will be parsed with Ajax-->
<!-- Top Navbar-->
<div class="navbar">
	<div class="navbar-inner">
		<div class="left"><a href="#" class="back link"> <i class="icon icon-back color-gray"></i><span></span></a></div>
		<div class="center sliding">我的简历</div>
		<div class="right">
			<!-- Right link contains only icon - additional "icon-only" class-->
		</div>
	</div>
</div>
<div class="pages">
	<!-- Page, data-page contains page name-->
	<div data-page="resume.edit" class="page no-tabbar">
		<!-- Scrollable page content-->
		<div class="page-content">
			<form id="resume/edit/saveOrUpdate" action="$!{env.appUrl}/resume/saveOrUpdate.htm" method="POST" class="ajax-submit resume-edit-form">
				<input type="hidden" name="resume.resumeId" value="$!{resume.resumeId}" />
				<div class="list-block">
    				<ul>
    					<li>
    						<div class="item-content">
    							<div class="item-inner">
    								<div class="item-title label">姓名</div>
    								<div class="item-input">
    									<input type="text" name="resume.name" value="$!{resume.name}" placeholder="" />
    								</div>
    							</div>
    						</div>
    					</li>
						<li>
    						<div class="item-content">
    							<div class="item-inner">
    								<div class="item-title label">联系方式</div>
    								<div class="item-input">
    									<input type="text" name="resume.tel" value="$!{resume.tel}" placeholder="" />
    								</div>
    							</div>
    						</div>
    					</li>
						<li>
    						<div class="item-content">
    							<div class="item-inner">
    								<div class="item-title label">性别</div>
    								<div class="item-input">
										<select name="resume.sex">
    										<option value="M" #if($!{resume.sex} == 'M') selected="selected" #end>男</option>
											<option value="F" #if($!{resume.sex} == 'F') selected="selected" #end>女</option>
    									</select>
    								</div>
    							</div>
    						</div>
    					</li>
						<li>
    						<div class="item-content">
    							<div class="item-inner">
    								<div class="item-title label">出生年月</div>
    								<div class="item-input">
    									<input type="text" id="resume_edit_birthday" name="resume.birthday" value="$!{resume.birthday}" placeholder="" />
    								</div>
    							</div>
    						</div>
    					</li>
						<li>
    						<div class="item-content">
    							<div class="item-inner">
    								<div class="item-title label">最高学历</div>
    								<div class="item-input">
										<select name="resume.education">
    										<option #if($!{resume.education} == '本科') selected="selected" #end>本科</option>
											<option #if($!{resume.education} == '硕士') selected="selected" #end>硕士</option>
											<option #if($!{resume.education} == '博士') selected="selected" #end>博士</option>
    									</select>
    								</div>
    							</div>
    						</div>
    					</li>
						<li>
							<div class="item-content">
    							<div class="item-inner">
    								<div class="item-title label">工作经验</div>
    								<div class="item-input">
										<select name="resume.workYear">
    										<option #if($!{resume.workYear} == '一年') selected="selected" #end>一年</option>
											<option #if($!{resume.workYear} == '三年') selected="selected" #end>三年</option>
											<option #if($!{resume.workYear} == '五年') selected="selected" #end>五年</option>
											<option #if($!{resume.workYear} == '五年以上') selected="selected" #end>五年以上</option>
    									</select>
    								</div>
    							</div>
    						</div>
    					</li>
    				</ul>
                </div>
				<div class="content-block-title">项目经验</div>
				<div class="list-block">
					<ul>
    					<li>
    						<div class="item-content">
    							<div class="item-inner">
    								<div class="item-title label">项目分类</div>
    								<div class="item-input">
    									<select name="job.jobCId">
    										#foreach($jobCat in $!{jobCatList})
    										<option value="$!{jobCat.jobCId}" #if($!{jobCat.jobCId} == $!{resume.jobCId}) selected="selected" #end>$!{jobCat.jobCName}</option>
    										#end
    									</select>
    								</div>
    							</div>
    						</div>
    					</li>
    					<li>
    						<div class="item-content">
    							<div class="item-inner">
    								<div class="item-title label">项目周期</div>
    								<div class="item-input">
    									<select name="job.cycle">
    										<option value="1" #if($!{resume.cycle} == '1') selected="selected" #end>一个月</option>
    										<option value="3" #if($!{resume.cycle} == '3') selected="selected" #end>三个月</option>
    										<option value="6" #if($!{resume.cycle} == '6') selected="selected" #end>六个月</option>
    										<option value="12" #if($!{resume.cycle} == '12') selected="selected" #end>一年</option>
    									</select>
    								</div>
    							</div>
    						</div>
    					</li>
    					<li class="align-top">
    						<div class="item-content">
    							<div class="item-inner">
    								<div class="item-title label">项目介绍</div>
    								<div class="item-input">
    									<textarea name="resume.content"></textarea>
    								</div>
    							</div>
    						</div>
    					</li>
                    </ul>
                </div>
				<div class="content-block">
    				<a href="javascript:resume_edit_saveOrUpdate();" class="button button-big button-fill weui_btn_primary">保存</a>
    			</div>
			</form>
        </div>
    </div>
</div>