<!-- We don't need full layout here, because this page will be parsed with Ajax-->
<!-- Top Navbar-->
<div class="navbar">
	<div class="navbar-inner">
		<div class="left"></div>
		<div class="center sliding">找人才</div>
		<div class="right">
			<!-- Right link contains only icon - additional "icon-only" class-->
			<a href="#" class="link icon-only"> <i class="iconfont icon-more color-gray"></i><span></span></a>
		</div>
	</div>
</div>
<div class="pages">
	<!-- Page, data-page contains page name-->
	<div data-page="resume.list" class="page">
		<!-- Search bar -->
		<form data-search-list=".list-block-search" data-search-in=".item-title" class="searchbar searchbar-init item-list-searchbar">
			<div class="searchbar-input">
				<input type="search" placeholder="搜索" /><a href="#" class="searchbar-clear"></a>
			</div><a href="#" class="searchbar-cancel">取消</a>
		</form>
		
		<!-- Search bar overlay -->
		<div class="searchbar-overlay"></div>
			
		<!-- Scrollable page content-->
		<div class="page-content pull-to-refresh-content infinite-scroll">
			<div class="pull-to-refresh-layer">
				<div class="preloader"></div>
				<div class="pull-to-refresh-arrow"></div>
			</div>
			
			<div class="more"></div>
			
			<div class="list-block cards-list media-list list-block-search searchbar-found">
				#foreach($resume in $!{resumeList})
				<ul>
					<li class="card" style="border-radius: 5px; margin: 10px 5px;">
						<span class="bw"></span>
						<div class="card-header" style="font-size: 14px;">
							<div class="left"><i class="iconfont icon-profile" style="font-size: 16px;"></i> $!{resume.name}</div>
							<div class="right"><i class="iconfont icon-phone" style="font-size: 14px;"></i> $!{resume.tel}</div>
						</div>
						<div class="card-content">
							<div class="item-content">
    							<a class="item-inner" href="$!{env.appUrl}/resume/detail.htm?resumeId=$!{resume.resumeId}" data-ignore-cache="true">
    								<div class="item-title-row">
										<div class="row no-gutter">
											<div class="col-50">
    											<div class="item-subtitle">学历：$!{resume.education}</div>
                                            </div>
											<div class="col-50">
    											<div class="item-subtitle">工作经验：$!{resume.workYear}</div>
                                            </div>
                                        </div>
    								</div>
									<div class="item-title-row">
										<div class="row no-gutter">
											<div class="col-50">
    											<div class="item-subtitle">工作地点：$!{resume.workAddress}</div>
                                            </div>
											<div class="col-50">
    											<div class="item-subtitle">工作性质：$!{resume.jobNature}</div>
                                            </div>
                                        </div>
    								</div>
									<div class="item-title-row">
    									<div class="row no-gutter">
    										<div class="col-50">
    											<div class="item-subtitle">期望薪水：$!{resume.salary}</div>
                                            </div>
                                        </div>
    								</div>
                                </a>
								<div class="item-after">
									<a href="$!{env.appUrl}/resume/detail.htm?resumeId=$!{resume.resumeId}" data-ignore-cache="true">
										<i class="iconfont icon-profile color-base"></i>
									</a>
								</div>
                            </div>
						</div>
						<div class="card-footer" style="min-height: 0; padding: 5px 15px;">
                            <span style="font-size: 12px;">
								<i class="iconfont icon-notification" style="font-size: 12px;"></i> $!{resume.remark}
							</span>
						</div>
					</li>
				</ul>
				#end
            </div>
        </div>
    </div>
</div>