<!-- We don't need full layout here, because this page will be parsed with Ajax-->
<!-- Top Navbar-->
<div class="navbar">
	<div class="navbar-inner">
		<div class="left"><a href="#" class="back link"> <i class="icon icon-back color-gray"></i><span></span></a></div>
		<div class="center sliding">我的简历</div>
		<div class="right">
			<!-- Right link contains only icon - additional "icon-only" class-->
		</div>
	</div>
</div>
<div class="pages">
	<!-- Page, data-page contains page name-->
	<div data-page="resume.my" class="page no-tabbar">
		<!-- Scrollable page content-->
		<div class="page-content">
			<div class="card" style="border-radius: 5px; margin: 10px 5px;">
				<div class="card-header" style="font-size: 14px;">
					<div class="left"><i class="iconfont icon-profile" style="font-size: 16px;"></i> $!{resume.name}</div>
					<div class="right"><i class="iconfont icon-phone" style="font-size: 14px;"></i> $!{resume.tel}</div>
				</div>
				<div class="card-content">
					<div class="list-block media-list">
						<ul>
    						<li class="item-content">
    							<div class="item-inner">
									<div class="item-title-row">
    									<div class="row no-gutter" style="width: 100%;">
    										<div class="col-50">
    											<div class="item-subtitle">学历：$!{resume.education}</div>
                                            </div>
											<div class="col-50">
    											<div class="item-subtitle">工作经验：$!{resume.workYear}</div>
                                            </div>
                                        </div>
    								</div>
    								<div class="item-title-row">
    									<div class="row no-gutter" style="width: 100%;">
											<div class="col-50">
    											<div class="item-subtitle">工作地点：$!{resume.workAddress}</div>
                                            </div>
											<div class="col-50">
    											<div class="item-subtitle">工作性质：$!{resume.jobNature}</div>
                                            </div>
                                        </div>
    								</div>
									<div class="item-title-row">
    									<div class="row no-gutter" style="width: 100%;">
    										<div class="col-50">
    											<div class="item-subtitle">期望薪水：$!{resume.salary}</div>
                                            </div>
                                        </div>
    								</div>
                                </div>
                            </li>
                        </ul>
					</div>
				</div>
				<div class="card-footer" style="min-height: 0; padding: 5px 15px;">
                    <span style="font-size: 12px;">
						<i class="iconfont icon-notification" style="font-size: 12px;"></i>
					</span>
				</div>
			</div>
			<div class="card" style="border-radius: 5px; margin: 10px 5px;">
    			<div class="card-content">
					<div class="list-block">
						<ul>
        					#foreach($resumeDetail in $!{resume.resumeDetailList})
        					<li class="item-content">
								<div class="item-inner">
                                    <div class="content-block">$!{resumeDetail.content}</div>
                                </div>
                            </li>
							#end
                        </ul>
                    </div>
                </div>
    		</div>
        </div>
    </div>
</div>