<!-- We don't need full layout here, because this page will be parsed with Ajax-->
<!-- Top Navbar-->
<div class="navbar">
	<div class="navbar-inner">
		<div class="left"></div>
		<div class="center sliding">专家堂</div>
		<div class="right">
			<!-- Right link contains only icon - additional "icon-only" class-->
			<a href="$!{env.appUrl}/help/expert.htm" class="link icon-only"> <i class="iconfont icon-question color-gray"></i></a>
		</div>
	</div>
</div>
<div class="pages">
	<!-- Page, data-page contains page name-->
	<div data-page="expert.list" class="page">
		<!-- Search bar -->
		<form data-search-list=".list-block-search" data-search-in=".item-title" class="searchbar searchbar-init">
			<div class="searchbar-input">
				<input type="search" placeholder="搜索" /><a href="#" class="searchbar-clear"></a>
			</div><a href="#" class="searchbar-cancel">取消</a>
		</form>
		
		<!-- Search bar overlay -->
		<div class="searchbar-overlay"></div>
			
		<!-- Scrollable page content-->
		<div class="page-content">
			<div class="a47">
				<ul class="a3u" style="margin-top: 0; padding-left: 0; list-style: none;">
					#if(!$!{jobCId})
					<li class="a3v a3x">
					#else
					<li class="a3v">
					#end
						<span class="a3y u k">全部分类</span>
                    </li>
					#foreach($jobCat in $!{jobCatList})
					#if($!{jobCId} == $!{jobCat.jobCId})
					<li class="a3v a3x">
					#else
					<li class="a3v" data-jobcid="$!{jobCat.jobCId}">
					#end
						<span class="a3y u k">$!{jobCat.jobCName}</span>
                    </li>
					#end
                </ul>
				
    			<div class="a43 list-block media-list list-block-search searchbar-found" style="margin: 0 0 50px 0;">
					#foreach($expert in $!{expertList})
					<ul class="before-height-0">
    					<li>
							<a class="item-content" href="#">
    							<div class="item-media">
    								<img data-src="$!{user.headImgUrl}" class="lazy" style="width: 60px; height: 60px; border-radius: 5px;"></img>
    							</div>
    							<div class="item-inner">
    								<div class="item-title-row">
                                        <div class="item-subtitle"><span class="little-tag">专家</span>$!{expert.userName}</div>
    								</div>
    								<div class="item-title-row">
    									<div class="item-subtitle">$!{expert.remark}</div>
    								</div>
									<div class="item-title-row">
    									<div class="item-subtitle">￥$!{expert.price}</div>
    								</div>
                                </div>
								<div class="item-after">
									<i class="iconfont icon-message color-base"></i>
								</div>
    						</a>
    					</li>
					</ul>
					#end
    			</div>
            </div>
        </div>
    </div>
</div>