<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1, user-scalable=no, minimal-ui" />
		<meta name="apple-mobile-web-app-capable" content="yes" />
		<meta name="apple-mobile-web-app-status-bar-style" content="black" />
		<title>好社惠</title>
		#ICON()
		#CSSM(["framework7", "iconfont"])
		<link rel="stylesheet" href="$!{env.imgUrl}/css/portal/homepage.css" />
		#UA()
	</head>
	<body>
		<!-- First, we need to add Panel's overlay that will overlays app while panel is opened -->
		<div class="panel-overlay"></div>
 
        <!-- Left panel -->
        <div class="panel panel-left panel-reveal">
			<div id="view-left" class="view panel-view">
				<div class="navbar"><div class="navbar-inner"></div></div>
				<div class="pages navbar-through toolbar-through">
					<div class="page"></div>
                </div>
			</div>
        </div>
		
		<!-- Views -->
		<div class="views tabs toolbar-through">
			<!-- Your main view, should have "view-main" class -->
			<div id="view-1" class="view view-main tab active" data-page="portal.homepage">
				<!-- Top Navbar-->
				<div class="navbar">
					<div class="navbar-inner">
						<div class="left"></div>
						<!-- We need cool sliding animation on title element, so we have additional "sliding" class -->
						<div class="center sliding">
							<i class="iconfont icon-locationfill color-base"></i>
                            <a class="external" href="$!{env.appUrl}/address/index.htm">$!{address.addName}</a>
						</div>
					</div>
				</div>
				<!-- Pages container, because we use fixed-through navbar and toolbar, it has additional appropriate classes-->
				<div class="pages navbar-through toolbar-through">
					<!-- Page, "data-page" contains page name -->
					<div data-page="portal.homepage" class="page">
						<!-- Scrollable page content -->
						<div class="page-content">
							 <!-- Slider -->
							<div class="swiper-container swiper-init" data-pagination=".swiper-pagination-h">
								<div class="swiper-wrapper">
									<div class="swiper-slide">
                                        <img src="$!{env.imgUrl}/image/portal/ad-1.png" width="100%"></img>
									</div>
									<div class="swiper-slide">
                                        <img src="$!{env.imgUrl}/image/portal/ad-6.jpg" width="100%"></img>
									</div>
									<div class="swiper-slide">
                                        <img src="$!{env.imgUrl}/image/portal/ad-7.jpg" width="100%"></img>
									</div>
								</div>
								<div class="swiper-pagination swiper-pagination-h"></div>
							</div>
							
							<div class="" style="background-color:#ffffff;">
								<ul class="mui-flex" style="padding: 0; margin-top: 0;">
									<li class="cell" style="">
										<a class="component type3" href="$!{env.appUrl}/item/list.htm" style="padding:4px" 0px="" 0px;="" data-ignore-cache="true">
                                            <img class="" src="$!{env.imgUrl}/image/portal/lxsp.png" width="40" height="40"></img>冷鲜食品
										</a>
									</li>
									<li class="cell" style="">
										<a class="component type3" href="" style="padding:4px" 0px="" 0px;="">
                                            <img class="" src="$!{env.imgUrl}/image/portal/lyfs.png" width="40" height="40"></img>粮油副食
										</a>
									</li>
									<li class="cell" style="">
                                        <a class="component type3 external" href="$!{env.appUrl}/express/index.htm" style="padding:4px" 0px="" 0px;="">
                                            <img class="" src="$!{env.imgUrl}/image/portal/kdsf.png" width="40" height="40"></img>快递收发
                                        </a>
									</li>
									<li class="cell" style="">
                                        <a class="component type3" href="" style="padding:4px" 0px="" 0px;="">
                                            <img class="" src="$!{env.imgUrl}/image/portal/shjf.png" width="40" height="40"></img>生活缴费
                                        </a>
									</li>
								</ul>
							</div>
							
							<div class="row no-gutter">
                                <div class="col-50"><img src="$!{env.imgUrl}/image/portal/ad-4.png" width="100%"></img></div>
								<div class="col-50"><img src="$!{env.imgUrl}/image/portal/ad-5.png" width="100%"></img></div>
                            </div>
							
							<div class="list-block">
								<div class="ch"><span><i class="ct cw"></i>附近的店铺</span></div>
							</div>
							
							<div class="list-block cards-list media-list">
								#foreach($shop in $!{shopList})
								<ul>
									<li class="card" style="border-radius: 5px; margin: 10px 5px;">
										<span class="bw"></span>
										<div class="card-content">
											<div class="card-content-inner" style="padding: 0;">
												<div class="item-content">
    												<div class="item-media">
                        								<img data-src="$!{env.imgUrl}/image/portal/logo.jpg" class="lazy" style="width: 50px; height: 50px;  border-radius: 5px;"></img>
                        							</div>
                        							<a class="item-inner" href="$!{env.appUrl}/item/list.htm?shopId=$!{shop.shopId}" data-ignore-cache="true">
                        								<div class="item-title-row">
                                                            <div class="item-title"><span class="little-tag">新店</span>$!{shop.shopName}</div>
                        								</div>
                        								<div class="item-title-row">
                        									<div class="item-subtitle color-gray" style="font-size: 12px;">月售199单</div>
                        								</div>
                                                    </a>
													<div class="item-after">
														<a href="$!{env.appUrl}/item/list.htm?shopId=$!{shop.shopId}" data-ignore-cache="true">
															<i class="iconfont icon-cart color-base"></i>
														</a>
													</div>
                                                </div>
											</div>
										</div>
										<div class="card-footer" style="min-height: 0; padding: 5px 15px;">
                                            <span style="font-size: 12px;">
												<i class="iconfont icon-notice" style="font-size: 15px;"></i>
												满59元免5元运费
											</span>
										</div>
									</li>
								</ul>
								#end
                            </div>
                        </div>
                    </div>
                </div>
            </div>
			
			<div id="view-2" class="view tab">
				<div class="navbar"><div class="navbar-inner"></div></div>
				<div class="pages navbar-through toolbar-through">
                    <div class="page"></div>
				</div>
            </div>
			
			<div id="view-3" class="view tab">
				<div class="navbar"><div class="navbar-inner"></div></div>
				<div class="pages navbar-through toolbar-through">
					<div class="page"></div>
                </div>
            </div>
			
			<div id="view-4" class="view tab">
				<div class="navbar"><div class="navbar-inner"></div></div>
				<div class="pages navbar-through toolbar-through">
					<div class="page"></div>
                </div>
            </div>
			
			<div id="view-5" class="view tab">
				<div class="navbar"><div class="navbar-inner"></div></div>
				<div class="pages navbar-through toolbar-through">
					<div class="page"></div>
                </div>
            </div>
			
			<div class="toolbar tabbar tabbar-labels">
				<div class="toolbar-inner">
					<a id="href-1" href="#view-1" class="tab-link active">
						<i class="icon iconfont icon-home" style="font-size: 25px;"></i>
						<span class="tabbar-label">首页</span>
                    </a>
                    <a id="href-2" href="#view-2" class="tab-link">
                        <i class="icon iconfont icon-goods" style="font-size: 25px;"></i>
						<span class="tabbar-label">团一团</span>
                    </a>
					<a id="href-3" href="#view-3" class="tab-link">
                        <i class="icon iconfont icon-group" style="font-size: 25px;"></i>
						<span class="tabbar-label">社区</span>
                    </a>
					<a id="href-4" href="#view-4" class="tab-link">
                        <i class="icon iconfont icon-cart" style="font-size: 25px;">
							<span id="portal/homepage/cart"></span>
						</i>
						<span class="tabbar-label">购物车</span>
                    </a>
					<a id="href-5" href="#view-5" class="tab-link">
                        <i class="icon iconfont icon-emoji" style="font-size: 25px;"></i>
						<span class="tabbar-label">我的</span>
                    </a>
                </div>
            </div>
        </div>
		
		#JSM(["framework7", "weixin", "jquery", "jquery.citytools", "common"])
		#JS_ENV_VAL()
		<script src="$!{env.imgUrl}/js/portal/homepage.js"></script>
		<script src="$!{env.imgUrl}/js/group/list.js" async="async"></script>
		<script src="$!{env.imgUrl}/js/item/list.js" async="async"></script>
		<script src="$!{env.imgUrl}/js/item/detail.js" async="async"></script>
		<script src="$!{env.imgUrl}/js/member/index.js" async="async"></script>
		<script src="$!{env.imgUrl}/js/pay/index.js" async="async"></script>
		<script src="$!{env.imgUrl}/js/trade/list.js" async="async"></script>
		<script src="$!{env.imgUrl}/js/trade/refund.js" async="async"></script>
		<script src="$!{env.imgUrl}/js/user/address.js" async="async"></script>
		<script>
        wx.config({
        			debug : false,
        			appId : '$!{ticket.appId}',
        			timestamp : $!{ticket.timestamp},
        			nonceStr : '$!{ticket.nonceStr}',
        			signature : '$!{ticket.signature}',
        			jsApiList : ['onMenuShareTimeline', 'onMenuShareAppMessage']
        		});
        
        wx.ready(function() {
            wx.onMenuShareTimeline({
                title: '好社惠365社区便利亭', // 分享标题
                link: '$!{env.appUrl}/homepage.htm', // 分享链接
                imgUrl: '$!{env.imgUrl}/image/portal/logo.jpg', // 分享图标
                success: function () { 
                    // 用户确认分享后执行的回调函数
                },
                cancel: function () { 
                    // 用户取消分享后执行的回调函数
                }
            });
			
        	wx.onMenuShareAppMessage({
        		title : '好社惠365社区便利亭', // 分享标题
        		desc : '为百姓日常生活消费提供支付便利,满足百姓日常生活中的消费账单如缴纳水电煤电话、手机费充值、信用卡还款转账、购买航空机票等交易需求的同时，为社区居民提供从工厂到消费者的最安全、最实惠、最便捷的社区直营奶站到家服务。', // 分享描述
        		link : '$!{env.appUrl}/homepage.htm', // 分享链接
        		imgUrl : '$!{env.imgUrl}/image/portal/logo.jpg', // 分享图标
        		type : '', // 分享类型,music、video或link，不填默认为link
        		dataUrl : '', // 如果type是music或video，则要提供数据链接，默认为空
        		success : function() {
        			// 用户确认分享后执行的回调函数
        		},
        		cancel : function() {
        			// 用户取消分享后执行的回调函数
        		}
        	});
		});
        </script>
	</body>
</html>  